REACT_APP_AWS_COGNITO_IDENTITY_POOL_ID=FAKE_REACT_APP_AWS_COGNITO_IDENTITY_POOL_ID
REACT_APP_AWS_REGION=FAKE_REACT_APP_AWS_REGION
REACT_APP_AWS_COGNITO_USER_POOL_ID=FAKE_REACT_APP_AWS_COGNITO_USER_POOL_ID
REACT_APP_AWS_COGNITO_USER_POOL_WEBCLIENT_ID=FAKE_REACT_APP_AWS_COGNITO_USER_POOL_WEBCLIENT_ID
REACT_APP_AWS_APPSYNC_AUTHENTICATION_TYPE=FAKE_REACT_APP_AWS_APPSYNC_AUTHENTICATION_TYPE
REACT_APP_AWS_APPSYNC_API_URL=FAKE_REACT_APP_AWS_APPSYNC_API_URL
